@keyframes spin {
    50% {
      -webkit-transform:rotateY(180deg);
      transform:rotateY(-180deg);
    }
}
  /* 3d */
.spin {
perspective: 800px;
-webkit-perspective: 800px;
-webkit-transform-orgin:right center;

@include disableTapHighlightColor();

&:hover {
    animation-name:spin;
    animation-iteration-count:infinite;
    animation-duration:1.2s;
    animation-timing-function:ease-in;
    }
}

.navbar-brand {
    padding-left: 2%;
}
body {
  background-color: #e6dedb;
  background-image: url(img/kotwindowsteambigger.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
nav:hover {
  background-image: linear-gradient(to top, rgba(255,0,0,0), #0d6efd);;
}
h2 {
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: #0d6efd;
  display: inline-block;
  text-shadow: 2px 2px #004ec1;
  font-weight: 700;
}
.titre, .word {
  margin-top: 15%;
}
.titre {
  margin-left: 10%;
  padding-right: 0.9%;
}
.word {
  margin-left: -0.7%;
  
}
@media (min-width: 450px) {
  .spin {
    width: 50px;
  }
}
@media (min-width: 640px) {
  .spin {
    width: 75px;
  }
}
@media (min-width: 820px) {
  .spin {
    width: 100px;
  }
}

.desc, .parent {
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  padding: 2% 3% 2% 3%;
}
p {
  font-size: 1.05em;
  margin-top: 1%;
  text-align: justify;
}
.fact, .text {
  float: left;

}
.fact {
  width: 35%;
  margin-top: 5%; 
  margin-left: 4%;
  padding: 1% 3% 1% 1%;
  background-color: #63a2ff33;
}
h5 {
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #0d6efd;
  font-weight: 700;
}
.text {
  width: 60%;
}
.desc::after, .desc::before, .parent::before , .parent::after {
  display: table;
  content: " ";
  clear: both;
}
.photo {
  display: block;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#rom, #ced, #dada {
  float: left;
  margin-right: 2%;
}
#jac, #mousse, #antho {
  float: right;
  margin-left: 2%;
}
#ced, #dada {
  width: 300px;
}
.d_jacques, .d_alex, .d_antho {
  text-align: right;
}
#jac {
  width: 250px;
}